
* {
  box-sizing: border-box;
}

    

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}

.word {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  transition: opacity 0.5s;
  pointer-events: none; /* Empêche l'interaction avec les mots animés */
}

<<<<<<< HEAD
#image-wrapper {
  position: absolute;
  bottom: -1rem;
  width: 100%;
  text-align: center;
}
=======
    #ccss {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      /* width: 110rem; */
      cursor: pointer;
    }
>>>>>>> Nolhan


#ccss {
  width: 110rem;
  cursor: pointer;
}

#image {
  position: absolute;
  top: 45rem;
  left: 44rem;
  width: 10rem;
  height: 15rem;
  cursor: pointer;
  border: 5px solid black; /* Contour noir autour de la div */
  z-index: 1; /* Assure que l'image est en dessous de la div de clic */
}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#videoInOut {
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
}

#videoInOut * {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, 0); */
}





/* SVGs */

.rainbowLine {
    stroke-dasharray: 822;
    stroke-dashoffset: 822;
    animation: dash 5s linear alternate infinite;
}


@keyframes dash {
    from {
        stroke-dashoffset: 822;
    }
    to {
        stroke-dashoffset: 0;
    }
}

